body {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section {
    width: 100%;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    .calcul {
        width: 600px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #c1c8c7;
        outline: 3px double rgba(48, 44, 44, 0.788);
        box-shadow: inset 0 0 13px 4px #201919;
        .display_box {
            width: 100%;
            padding: 15px;
            .display {
                width: 100%;
                height: 60px;
                padding: 5px;
                background-color: #252b31;
                outline: 2px solid #252b31;
                font-size: 50px;
                color: #f6fafb;
                text-align: right;
            }
        }
        .buttom_box {
            width: 90%;
            display: flex;
            justify-content: space-around;
            user-select: none;
            .numbers {
                width: 55%;
                user-select: none;
                .btn {
                    width: 70px;
                    height: 50px;
                    font-size: 30px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                    box-shadow: 0 0 4px 0px #201919;
                }
                 :active {
                    box-shadow: none;
                }
                .zero {
                    width: 160px;
                }
            }
            .math_func {
                width: 35%;
                user-select: none;
                .btn {
                    width: 70px;
                    height: 50px;
                    font-size: 30px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                    box-shadow: 0 0 4px 0px #201919;
                }
                 :active {
                    box-shadow: none;
                }
            }
        }
    }
}